$font: "Montserrat", sans-serif;

$primary: #009345;
$danger: #d63031;
$blue: #0984e3;
$cyan: #13a7be;
$white: #ffffff;
$black: #000000;
$darkGray: #707070;
$darkGreen: #014129;

// $boxShadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
//     0 4px 6px -2px rgba(0, 0, 0, 0.05);

$boxShadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
